.bgNav{
    background-color: #0d0d5b;
}

.ulPosicion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 150px;
}

.colorL{
    color: #eded00;
}

.tamañoCarrito{
    color: #eded00;
    width: 30px;
    height: 30px;
}